<header>
    <h2>
        Header Data
    </h2>
    <ul>
        <li><a routerLink="employee-listing" routerLinkActive="activelink">Employee Listing</a></li>
        <li><a routerLink="employeedetails" routerLinkActive="activelink">Employee Detail</a></li>
        <li><a routerLink="aboutus" routerLinkActive="activelink">About us</a></li>
        <li><a routerLink="contactus" routerLinkActive="activelink">Contact us</a></li>
    </ul>
</header>
<section>
    <router-outlet></router-outlet>
</section>
<footer>
    <h2>Footer Data and links</h2>
</footer>